@page "/san"
<style>
    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        background: linear-gradient(135deg, #ff7e5f, #feb47b);
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: white;
        text-align: center;
    }

    .container {
        background: rgba(0, 0, 0, 0.7);
        padding: 50px;
        border-radius: 15px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2em;
        line-height: 1.5;
    }

    a {
        color: #ff7e5f;
        text-decoration: none;
        border: 2px solid #ff7e5f;
        padding: 10px 20px;
        border-radius: 25px;
        transition: background 0.3s, color 0.3s;
    }

        a:hover {
            background: #ff7e5f;
            color: white;
        }
</style>
<div style="text-align:center">
    <h3 style="text-align:center";>Historia mojej uczelni</h3>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Spo%C5%82eczna_Akademia_Nauk.jpg/360px-Spo%C5%82eczna_Akademia_Nauk.jpg"width="400" height="200" >
    <div style="width:500px;margin-left:350px; margin-right:300px;" class="container">
        <h5>
            W 2000 roku Społeczna Wyższa Szkoła Przedsiębiorczości i Zarządzania, jako pierwsza uczelnia niepubliczna w Łodzi, otrzymała pełne uprawnienia magisterskie,
            a od 2006 także uprawnienia do nadawania tytułu doktora nauk ekonomicznych. 
            W 2004 szkoła uzyskała pozytywną ocenę Państwowej Komisji Akredytacyjnej na wizytowanych kierunkach i została uhonorowana Medalem Europejskim (odznaczenie przyznane ponownie w 2006). 
            W 2007 roku uczelnia otrzymała tytuł Lidera Polskiego Biznesu Business Centre Club. Do szkoły należy łącznie około 20 budynków o różnym przeznaczeniu, o łącznej powierzchni ponad 35 tys. m.kw. 
            Budynki zlokalizowane są w centrum Łodzi oraz w innych miastach, gdzie znajdują się filie SAN.
      </h5>
    </div>
</div>
